<div class="tpt">
  <div class="px-4 pt-5 my-3 text-center border-bottom">
    <h1 class="display-4 fw text-body-emphasis">Spices and Dry Fruits Wholesale and Retail</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to Kalidas Masala Center, your ultimate destination for a wide variety of spices and dry fruits. Whether you're a wholesaler or a retail customer, we have everything you need to enhance your culinary experience.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-dark btn-lg px-4 me-sm-3">Explore</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn More</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img src="/assets/images/spices-herbs-wooden-bowl-adorn-table-generated-by-ai.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="700" loading="lazy">
      </div>
    </div>
  </div>
</div>

<div class="custom-container">
  <h1 class="custom-title">Discover a Wide Variety of Spices and Dry Fruits</h1>
  <div class="custom-card-container">
    <div class="custom-card">
      <div class="custom-image-placeholder image-1"></div>
      <h2 class="custom-card-title">Quality Assured Spices and Dry Fruits</h2>
      <p class="custom-card-text">At Kalidas Masala Center, we offer a diverse range of spices and dry fruits, all sourced with utmost care to ensure exceptional quality.</p>
      <a href="#" class="custom-link">Learn More</a>
    </div>
    <div class="custom-card">
      <div class="custom-image-placeholder image-2"></div>
      <h2 class="custom-card-title">Competitive Pricing for Spices and Dry Fruits</h2>
      <p class="custom-card-text">We believe that everyone should have access to high-quality spices and dry fruits at affordable prices.</p>
      <a routerLink="/signUp" class="custom-link">Sign Up</a>
    </div>
    <div class="custom-card">
      <div class="custom-image-placeholder image-3"></div>
      <h2 class="custom-card-title">Discover a Wide Variety of Spices and Dry Fruits</h2>
      <p class="custom-card-text">At Kalidas Masala Center, we offer a diverse range of spices and dry fruits, all sourced with utmost care to ensure exceptional quality.</p>
      <a href="#" class="custom-link">Learn More</a>
    </div>
  </div>
</div>



<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 hero-section">
    <div class="col-12 col-lg-6">
      <img src="/assets/images/shop.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Kalidas Masala Center</h1>
      <p class="lead">Prakash Tare | Rameshwar Tare</p>
      <p class="lead">9028182149 | 9689788491</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="https://maps.app.goo.gl/LGfwAjR1UxEQJm5q6"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 btn-with-icon" fdprocessedid="n1t5q">
          <img src="/assets/images/google-maps.png" alt="Icon" class="btn-icon"> Visit Us
        </button></a>
      </div>
    </div>
  </div>
</div>
