<div class="parent-container">
  <input type="text" placeholder="Search" [(ngModel)]="searchText">
  <button>Search</button>
  <p *ngIf="searchText !=''">You searched for: {{searchText}}</p>
</div>

<h2>Our Products :</h2>

<section>
  <div class="container-fluid" data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000">
    <div class="mt-4 row gx-3 gy-3">
      <div class="title text-center mt-5">
        <h2 class="position-relative">Our Product Collection</h2>
      </div>
      <div class="row">
        <div *ngFor="let p of data" class="col-lg-3 col-md-4 col-sm-6 col-12 p-2">
          <div class="card h-100">
            <div class="collection-img position-relative">
              <img [src]="p.image" class="card-img-top img-fluid">
            </div>
            <div class="card-body text-center">
              <p class="text-capitalize my-1">{{p.title}}</p>
              <button class="btn btn-outline-success">
              {{islogin ? "BUY" : " CHECK COLLECTION"}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
