
    <header>
      <div class="logo">
        <h3>Kalidas Masala Center</h3>
        <p>Traders of all kinds of spices </p>
      </div>
      <div class="links">
        <ul>
          <li routerLink="/">Home</li>
          <li routerLink="/about">About</li>
          <li routerLink="/contactUs">Contact</li>
          <li routerLink="/products">Products</li>
        </ul>
      </div>
      <div class="signup" *ngIf="!islogin">
        <button routerLink="/signUp">Sign Up</button>
      </div>

      <div class="signup" *ngIf="islogin">
        <button (click)="logOut()">Log Out</button>
      </div>

      </header>
<router-outlet></router-outlet>

<footer class="footer bg-light">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <img src="/assets/images/logo_main.jpg" alt="Logo" class="img-fluid" style="max-width: 100px;">
          </div>
          <div class="col-md-6 d-flex align-items-center justify-content-center footer-links">
              <a href="#">Wholesale Spices</a>
              <a href="#">Retail Spices</a>
              <a href="#">Dry Fruits</a>
              <a href="#">About Us</a>
              <a href="#">Contact Us</a>
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-end social-icons">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
              <a href="#"><i class="bi bi-youtube"></i></a>
          </div>
      </div>
      <div class="row">
          <div class="col-12 text-center footer-bottom">
              <p>&copy; 2024 Kalidas Masala Center. All rights reserved. 
                  <a href="#">Privacy Policy</a> 
                  <a href="#">Terms and Conditions</a> 
                  <a href="#">Cookie Policy</a>
              </p>
          </div>
      </div>
  </div>
</footer>

